<!-- /templates/index.html -->
<html>
	<head style="text-align: center; background: navy">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
		<div style="text-align: center;">
			<label style='font-size:35;'>Login</label><br>
			<a href="/login"><button class='btn btn-primary'>Login</button></a><br>
			<label style='font-size:35;'>register</label><br>
			<a href="/reg"><button class='btn btn-success' >register</button></a>
		</div>
		
    </body>
</html>