<html>
	<head>
		<title>
			Simple Form Application
		</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	</head>
	<body style="text-align: center; background: #4646FF">
		
		<div class='container' style="text-align:center;">
		
			<div class='card' style='margin-top:30px;' width='20rem;'>
			
				<div class='card-body'>
				
				<a href="/"style=" float:left;"> <img src="static/icons/back.svg"> </a>
				
					<br><h2 class="card-title" style="color: #15154C;">Login</h2>
					
					<form method="post" class='form-group'>
					
						<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
																	
						<input style='margin-top:10px;' type="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Password">
								
						<a href="/reg"><button class='btn btn-danger' style='margin-top:10px;'>Login</button></a>
					</form>
					
					<p style="float:left;"> If you dont have a account please <a href="/reg">Register</a></p><br>
			
		</div>
	</body>
</html>