<html>
	<head>
		<title>
			Simple Form Application
		</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<style>
          	 @media  screen and (min-width: 321px) and (max-width:960px){
                xxxx

            }
            @media screen and (min-width: 720px) and (max-width:1024px){
                xxxxx
            }
        </style>
	</head>
	<body style="text-align: center; background: #DF2B4F">
		
		<div class='container' style="text-align:center;">
			<div class='card' style='margin-top:30px;' width='20rem;'>
				<div class='card-body'>
				<a href="/"style=" float:left;"> <img src="static/icons/back.svg"> </a>
					<br><h2 class="card-title">Register</h2>
					<form method="post" class='form-group'>
					
						{% csrf_token %}
    
						{% for field in form %}
								<div style=" color:#EDF5E1; "><h5> {{ field.label_tag }}</h5> </div>
								{{ field.email }}<br>
								{{ field.password }}<br>
								{{ field.password2 }}<br>

								<p style=" color: #FC4445; float:left;">{{ field.errors }}</p>

						{% endfor %}				
					
						<a href="/reg"><button class='btn btn-success' style='margin-top:10px;'>Register</button></a>
					</form>
					<p> if you have a account please <a href="/login">login</a></p><br>
			
		</div>
	</body>
</html>