<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Todo List App but better...not really">
        <meta name="keywords" content="HTML, CSS, JavaScript">
        <meta name="author" content="Rohaan">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="\media\img\snippits\Logo.PNG">

        <!-- Latest compiled and minified CSS -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" /> 
		<!-- CSS only -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <body style="text-align: center; background: #4646FF">
        {% load crispy_forms_tags %}
        <div class='container' style="text-align:center;">
		
			<div class='card' style='margin-top:30px;' width='20rem;'>
			
				<div class='card-body'>
				
				<a href="/"style=" float:left;"> <img src="\media\static\icons\back.svg"> </a>
				
					<br><h2 class="card-title" style="color: #15154C;">Login</h2>
					
					<form method="post" class='form-group'>
					
						{% csrf_token %}

                        <fieldset class="form-group">

                            {{ form|crispy }}

                        </fieldset>

						<a href="/reg"><button class='btn btn-danger' style='margin-top:10px;'>Login</button></a>
					</form>
					
					<p style="float:left;"> If you dont have a account please <a href="/register_">Register</a></p><br>
            </div>
		</div>
    </body>
</html> 
