.body{
    color: black;
    overflow: auto;
    background-color: #3d3b35;


}

/* 4k pc */
@media only screen and (min-width:1440px ) and (max-width: 2560px) {

    .base{
    
        width: 25%;
    }

    .cross{
        visibility: hidden;
        display: none;
    }
    .options{
        font-size: xx-large;
    }
}

/* iPhone X ⋮ */
@media only screen and (min-width:375px ) and (max-width: 376px) {

    .base{
        height: 105%;
        
            
    }
    
    .cross{
        visibility: hidden;
        display: none;
    }
    .options{
        font-size: xx-large;
    }

}

@media only screen and (min-width:768px ) and (max-width: 770px) {
    
    .base{
        height: 105%;
        padding-bottom: 1000px;
    }
   
    .cross{
        visibility: hidden;
        display: none;
    }
    .options{
        font-size: xx-large;
    }
    .fixed-top {
        position: static;
       }

}
@media only screen and (min-width:1024px ) and (max-width: 1028px) {

    .base{
        height: 105%;
        display: flex;
        width: 5000px;
        flex: column-reverse;
        
    }
    .cross{
        visibility: hidden;
        display: none;
    }
    .options{
        font-size: xx-large;
    }

}
